@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul class="list-group">
    <li class="list-group-item">Membership Type:@Model.MembershipType.Name</li>
    @if(Model.Birthdate != null){ 
        <li class="list-group-item">BirthDate: @Model.Birthdate.Value.ToShortDateString()</li>
     }
</ul>
